<!-- about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Pushpender</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <a href="home.html" class="logo">Pushpender<span>.dev</span></a>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'skills' %}">Skills</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>

        <section class="main-content">
            <h2 class="reveal-on-scroll">About Me</h2>
            <div class="about-content reveal-on-scroll">
                <div class="about-text">
                    <h3>Backend Web Developer</h3>
                    <p>
                        I am a passionate backend developer with a strong foundation in building and managing the server-side of web applications. With expertise in Python and the Django framework, I focus on creating efficient, scalable, and secure solutions. My experience with SQL databases like PostgreSQL allows me to design and query complex data structures effectively. I am eager to apply my skills to solve real-world problems and contribute to innovative projects.
                    </p>
                </div>
                <div class="education">
                    <h3>Education</h3>
                    <div class="education-item">
                        <h3>B.Tech, Computer Science and Engineering</h3>
                        <p>Guru Tegh Bahadur 4th Centenary Engineering College, New Delhi</p>
                        <p><em>2024-2028</em></p>
                    </div>
                    <div class="education-item">
                        <h3>Class-12th</h3>
                        <p>Jawahar Navodaya Vidyalaya Gulabgarh, Yamuna Nagar, HRY</p>
                        <p><em>2022-2023</em></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include "footer.html"%}
    
    <script src="/static/script.js"></script>
</body>
</html>