asgiref==3.9.1
charset-normalizer==3.4.4
colorama==0.4.6
distlib==0.4.0
Django==5.2.5
docx2pdf==0.1.8
filelock==3.19.1
lxml==6.0.2
pillow==12.0.0
platformdirs==4.3.8
PyMuPDF==1.26.6
pypdf==6.4.0
PyPDF2==3.0.1
python-pptx==1.0.2
pywin32==311
reportlab==4.4.5
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.34.0
xlsxwriter==3.2.9
